html, body {
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
body.homepage{
  background-image: url("vaas.jpg");
  background-size: 100% 130%;;
  background-repeat: no-repeat;
}
.main{
  width: 500px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.logo{
  font-size: 50px;
  color: white;
  margin-bottom: 10px;
  margin-top: 0;
  opacity: 0.9;

}
.tagline{
  font-size: 15px;
  color: white;
  opacity: 0.9;
}
.button{
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor:pointer;
  opacity: 0.9;
}
.button:hover{
  opacity: 1;
  background: white;
  color: black;
}

/*
chat page

*/

.member-area{
  position:fixed;
  top: 0;
  bottom: 0;
  left:0;
  width:30%;
  background: #673ab7;
  color: white;
}
.user-info{
  background: white;
  color:black;
  padding: 20px;
  font-weight: bold;

}
.logout{
  float: right;
}
.member{
  padding: 10px;
  border-bottom:solid 1px white;
}
member:hover{
  background: white;
  color:darkblue;
}
.member.active{
  font-weight: bold;
  background-color: azure;
  color:darkblue;
}
.message-area{
  background-color: azure;
  position: fixed;
  left: 30%;
  top:0;
  bottom:0;
  width:70%;
}
.chat-info{
  background-color: white;
  padding: 20px;
  color: #000000;
}
.messages{
  background: lightblue;
  height: 80%;
  padding: 10px;
  overflow: auto;

}
.message{
  background: #bac;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}
.message.by-user{
  background: #19a093;
}
.chat-form{
  position: fixed;
  left: 30%;
  bottom: 0;
  width: 70%;
  background: white;
  padding:20px;

}
.chat-message{
  padding: 10px;
  border: solid 1px lightgrey;
  border-radius: 4px;
  display: block;
  width: 100%;
}
